@keyframes faderight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
  @keyframes fadedown {
    0% {
      transform: translateY(20rem) scale(0.3);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }
  @keyframes lineardown {
    0% {
      transform: translateY(5rem) ;
      opacity: 0;
    }

    100% {
      transform: translateY(0) ;
      opacity: 1;
    }
  }

  @keyframes autoBlurMotion {
  0% {
    filter: blur(1.5rem);
    transform: translateY(1.75rem);
  }

  45% {
    transform: translateY(1.25rem);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes changecolor {
  0% {
    color: var(--color-secondary-gray3);
  }

  50% {
    color: var(--color-secondary-orange);
  }

  100% {
    color: var(--color-secondary-gray3);
  }
}

@keyframes textApeeringLeft {
  0% {
    left: 80%;
    opacity: 0;
  }

  50% {
    left: 100%;
    opacity: 1;
  }

  100% {
    left: 80%;
    opacity: 0;
  }
}

@keyframes textApeeringRight {
  0% {
    right: 80%;
    opacity: 0;
  }

  50% {
    right: 100%;
    opacity: 1;
  }

  100% {
    right: 80%;
    opacity: 0;
  }
}

@keyframes imageBouncing {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    right: 0%;
    bottom: 30%;
  }

  20% {
    transform: rotate(25deg);
    opacity: 0.6;
    right: -30%;
    bottom: 40%;
  }

  30% {
    transform: rotate(15deg);
    opacity: 0.8;
  }

  50% {
    transform: rotate(20deg);
    right: -30%;
    bottom: 40%;
    opacity: 1;
  }

  90% {
    transform: rotate(20deg);
    right: -30%;
    bottom: 40%;
    opacity: 1;
  }

  100% {
    transform: rotate(0deg);
    opacity: 0;
    right: 0%;
    bottom: 30%;
  }
}

 .down {
    animation: fadedown both;
    animation-timeline: view(10% 2%);
    animation-delay: 6s;
  }
.right {
  animation: faderight both;
  animation-timeline: view(70% 15%);
}
.startDown {
  animation: 600ms linear 0.1s lineardown;
}
.blur {
  animation: autoBlurMotion linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}


.float-image {
  position: absolute;
  opacity: 0;
  right: 0%;
  bottom: 30%;
  transform: rotate(0deg);
  transform-origin: center center;
  z-index: 0;

  will-change: transform, opacity;
  animation: imageBouncing linear forwards;
  animation-timeline: view();
  animation-range: cover 50% cover 70%;
}
