@import url("style.css");

button,
input[type="submit"] {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: none;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5rem;
  width: min-content;
  white-space: nowrap;
  font-family: "Poppins", sans-serif v;
  transition: 400ms;
}
.back {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}
.back img{
  height: 1.5rem;
  width: auto;
  object-fit: cover;
}
button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}

button[color="white"]:hover {
  background-color: var(--color-secondary-gray2);
  transition: 400ms;
}

button[color="white"],
button[color="white2"],
input[color="white"] {
  background-color: var(--color-white);
  color: var(--color-secondary);
  font-size: var(--text-normal);
}

button[color="white2"] {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--color-secondary-gray);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
}
button[color="gray2"] {
  padding: 0.5rem 1rem;
  border-bottom: 0.2rem solid var(--color-secondary-orange);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  color: var(--color-secondary-gray);
}

button[color="white2"] img {
  margin-left: 0.5rem;
  object-fit: cover;
  transform: rotate(180deg);
  height: auto;
  width: var(--text-base);
}

button[color="gray"] {
  background-color: var(--color-secondary-gray2);
  color: var(--color-secondary);
}

button[color="black2"] {
  background-color: transparent;
  border: 0.1rem solid var(--color-secondary-gray);
}

button[size="small"] {
  font-size: 0.8rem;
  padding: 8px 16px;
}

button[size="large"] {
  font-size: 1.2rem;
  padding: 16px 32px;
}

li {
  list-style: none;
  position: relative;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  background: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 250ms ease;
}

li:hover a {
  color: var(--color-secondary-orange);
}

li:hover::before,
li:focus-within::before {
  transform: scaleX(1);
  background: var(--color-secondary-orange);
}

.container-nav-mobile li {
  align-items: center;
  display: flex;

  gap: 0.2rem;
}

.contact .container-nav li a {
  color: var(--color-primary) !important;
}

@media (max-width: 900px) {
  button {
    padding: 0.5rem;
    font-size: 0.75rem !important;
  }
}
