.container-tech {
  background-color: #111116;
  border-radius: 3rem;
  overflow: hidden;
  padding: 4rem;
  color: #fefdff;
  position: relative;
}

.container-tech .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container-tech h1 {
  color: #fefdff;
  margin-bottom: 1rem;
}
.container-tech .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
  position: absolute;
  width: 30%;
}
.container-tech h1 {
  padding-bottom: 2rem;
  font-size: 1rem;
}
.description {
  display: flex;
  flex-direction: column;
}
.tech-resume {
  opacity: 1;
  transform: translateY(0);
  transition: 400ms;
}

.tech-resume-gonna-change {
  opacity: 0;
  transform: translateY(-1rem);
  transition: 400ms;
}

.item-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-slide {
  flex: 0 0 calc((75%) * 0.3);
  height: 200px;

  transition: flex-basis 0.5s ease, opacity 0.5s ease;
  border-radius: 1rem;
  overflow: hidden;

  transition: 800ms;
}
.slide::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slide {
  display: flex;

  gap: 25%;

  overflow-x: scroll;

  scroll-behavior: smooth;
  overflow-y: hidden;

  scrollbar-width: none;
  align-items: end;
}
.btn-tech-active {
  filter: invert(0);
}
.active {
  height: 25rem;
  transition: 800ms;

  flex: 0 0 calc((75%) * 0.7);
}
.btnPrev,
.btnNext {
  filter: invert(50%);
  height: var(--text-xl);
  object-fit: cover;
  width: auto;
}
.icons {
  height: var(--text-xl);
  object-fit: cover;
  width: auto;
}
.btn-tech-active {
  filter: invert(0);
}

@media (max-width: 900px) {
  .mobile {
    display: flex;
  }

  .slider-poster {
    width: auto;
  }

  .description {
    justify-content: center;
    align-items: center;
  }

  .container-tech .description {
    position: relative;
    max-width: auto;
    width: auto;
  }

  .container-tech h1 {
    text-align: center;
  }

  .container-tech {
    overflow: hidden;
    width: 100%;
  }

  .slide {
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: hidden;

    height: 60dvh;

    align-items: stretch;
    scroll-snap-type: y mandatory;

    gap: 2rem;
  }

  .slide > :first-child {
    visibility: hidden;
    display: none;
  }

  .item-slide {
    width: 80%;
    margin: 0 auto;

    height: auto;

    flex: 0 0 25%;
  }

  .active {
    width: 100%;

    height: auto;

    flex: 0 0 70%;
  }

  .container-tech .description {
    position: relative;
    padding-bottom: 1rem;
  }
}
