.textPosition {
  width: min-content;
  position: relative;
  z-index: 2;
  animation: changecolor linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
  color: #cfcfcf
}

.textPosition::before {
  position: absolute;
  content: attr(data-word);
  color: #e04622;
  width: 100%;
  height: 100%;
  top: 0;
  right: 80%;
  opacity: 0;
  margin-right: 4rem;
  z-index: 1;
  animation: textApeeringRight linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
}

.textPosition::after {
  position: absolute;
  content: attr(data-word);
  color: #e04622;
  width: 100%;
  height: 100%;
  top: 0;
  left: 80%;
  opacity: 0;
  margin-left: 4rem;
  transition: all 0.3s ease;
  z-index: 1;
  animation: textApeeringLeft linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
}