.cart-portrait {
  display: flex;
  flex-direction: column;
  padding: var(--text-md);
  background-color: var(--color-white);
  border-radius: 1rem;
  width: min-content;
}

.cart-image {
  width: var(--text-9xl);
  object-fit: cover;
  height: auto;
  background-color: var(--color-white-gray);
  border-radius: 1rem;
  padding: 1.5rem;
}
.footer img {
  width: auto;
  object-fit: cover;
  height: 1.5rem;
  transform: rotate(180deg);
}

.cart-portrait h3 {
  margin-top: 1rem;
  text-align: left;
}
.cart-portrait .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.cart-portrait p {
  color: var(--color-secondary);
}
.container-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: min-content;
}
.search-component {
  width: 9rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--text-sm);
  border: 1px solid var(--color-secondary-gray2);
  transition: 200ms ease;
  outline: none;
  box-shadow: none;
  appearance: none;
  height: min-content;
  border-radius: 2rem;
}
.email-component {
  outline: none;
  padding: 0.5rem 0.75rem;
  font-size: var(--text-sm);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-secondary-gray2);
  transition: 200ms ease;
  appearance: none;
  height: min-content;
  color: var(--color-primary);
}
.search-component::placeholder {
  color: var(--color-secondary-gray);
  opacity: 1;
}
.search-component:focus {
  border-color: var(--color-secondary-gray);
  width: 12rem;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr 10%;
  width: calc(100% - 1rem);
  padding: 1rem 2rem;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: var(--color-white);
}
li {
  list-style: none;
  position: relative;
  padding-bottom: 0.25rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--color-secondary);
}
li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  background: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 250ms ease;
}
li:hover a {
  color: var(--color-secondary-orange);
}
li:hover::before,
li:focus-within::before {
  transform: scaleX(1);
  background: var(--color-secondary-orange);
}
.logo {
  font-family: Arial, italic;
}
.container-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}
.icon {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}
.icon img {
  width: var(--text-lg);
  height: auto;
  object-fit: cover;
}
.container-paragraph div {
  max-width: 80%;
}
.container-paragraph {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
  text-align: center;
}

.container-paragraph img {
  position: absolute;
}
.container-products {
  overflow: hidden;
}
.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-gap: 0 2rem;
  padding: 30px 60px;
  padding-right: 0;
}
.container-products h1 {
  padding: 0 1rem;
}
.card-product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min-content;
  position: relative;
}
.description {
  display: flex;
  flex-direction: column;
}
.new-item {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: var(--color-secondary-orange);
  color: var(--color-secondary-orange2);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}
.card-product .cover {
  padding: 2rem 1rem;
  background-color: var(--color-white-gray);
  border-radius: 1rem;
}
.card-product .cover img {
  height: 100%;
  min-height: 12rem;
  object-fit: cover;
}

.column-elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.column-elements .text {
  width: min-content;
  position: relative;
  z-index: 2;
  animation: changecolor linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
  color: var(--color-secondary-gray3);
}
.container-questions {
  background-color: var(--color-white-gray);
  padding: 3rem 2rem;
}
.container-questions h1 {
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--color-secondary-gray);
}
.question-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--color-secondary-gray);
  padding: 1rem 0;
  align-items: center;
}
@keyframes changecolor {
  0% {
    color: var(--color-secondary-gray3);
  }
  50% {
    color: var(--color-secondary-orange);
  }

  100% {
    color: var(--color-secondary-gray3);
  }
}

.text::before {
  position: absolute;
  content: attr(data-word);
  color: var(--color-secondary-orange);
  width: 100%;
  height: 100%;
  top: 0;
  right: 80%;
  opacity: 0;
  margin-right: 4rem;
  z-index: 1;
  animation: textApeeringRight linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
}
.text::after {
  position: absolute;
  content: attr(data-word);
  color: var(--color-secondary-orange);
  width: 100%;
  height: 100%;
  top: 0;
  left: 80%;
  opacity: 0;
  margin-left: 4rem;
  transition: all 0.3s ease;
  z-index: 1;
  animation: textApeeringLeft linear forwards;
  animation-timeline: view();
  animation-range: cover 40% cover 60%;
}
@keyframes textApeeringLeft {
  0% {
    left: 80%;
    opacity: 0;
  }
  50% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
  }
}
@keyframes textApeeringRight {
  0% {
    right: 80%;
    opacity: 0;
  }
  50% {
    right: 100%;
    opacity: 1;
  }

  100% {
    right: 80%;
    opacity: 0;
  }
}
@keyframes imageBouncing {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    right: 0%;
    bottom: 30%;
  }
  20% {
    transform: rotate(25deg);
    opacity: 0.6;
    right: -30%;
    bottom: 40%;
  }
  30% {
    transform: rotate(15deg);
    opacity: 0.8;
  }
  50% {
    transform: rotate(20deg);
    right: -30%;
    bottom: 40%;
    opacity: 1;
  }
  90% {
    transform: rotate(20deg);
    right: -30%;
    bottom: 40%;
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
    right: 0%;
    bottom: 30%;
  }
}

.float-image {
  position: absolute;
  opacity: 0;
  right: 0%;
  bottom: 30%;
  transform: rotate(0deg);
  transform-origin: center center;
  z-index: 0;

  will-change: transform, opacity;
  animation: imageBouncing linear forwards;
  animation-timeline: view();
  animation-range: cover 50% cover 70%;
}

.float-image img {
  object-fit: cover;
  height: 9rem;
  width: auto;
  border-radius: 0.5rem;
}
.container-tech {
  background-color: var(--color-black);
  border-radius: 3rem;
  overflow: hidden;
  padding: 4rem;
  color: var(--color-primary);
}
.container-tech .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icons {
  height: var(--text-xl);
  object-fit: cover;
  width: auto;
}
.container-tech h1 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.item-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  overflow: hidden;
}

.item-slide {
  width: 15rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0; /* que no se estire */
  transition: 800ms;
}
.active {
  width: 45rem;
  max-width: 45dvw;
  transition: 800ms;
}
.slide {
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-gap: 0 8rem;
  padding-right: 0;
  align-items: end;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: max-content;
}
.container-tech .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
  position: absolute;
  width: 30%;
}
.container-support {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-support sub {
  text-align: left;
}
.support-items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 100%;
}

.list-item h4 {
  position: relative;
  margin-bottom: 4rem;
  text-align: center;
}
.list-item h3 {
  font-family: "Poppins-Regular";
  color: var(--color-secondary-gray4);
  margin-bottom: 0.8rem;
}
.list-item h4::before {
  content: "";
  border-bottom: 0.1rem solid black;
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: -1.5rem;
}
.service-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.services-container {
  text-align: center;
  padding: 1rem 0;
}
.service-items h3 {
  font-family: "Poppins-light";
  color: var(--color-secondary-gray4);
}
.service-items img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.service-items strong {
  font-family: "Poppins-Medium";
  padding-top: 1rem;
}
.service-items .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.contact ul {
  width: min-content;
}
.contact h1 {
  color: var(--color-primary);
}

.contact p {
  color: var(--color-secondary-gray);
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.socials {
  display: flex;
  gap: 1rem;
  height: var(--text-lg);
  margin-top: 3rem;
}
.socials img {
  height: 100%;
  object-fit: cover;
  width: auto;
}

.container-tech h1 {
  padding-bottom: 2rem;
}
.container-contact {
  display: grid;
  grid-template-columns: 60% 1fr;
  background-color: var(--color-black);
  border-radius: 2rem;
  color: var(--color-primary);
  overflow: hidden;
  padding: 1.5rem;
  gap: 1rem;
}

.see-more {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  width: min-content;
  margin-left: auto;
  gap: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-secondary);
}

.icon-putter {
  width: auto;
  height: 1.5rem;
}
.icon-putter img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.contact .details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.contact .container-nav li a {
  color: var(--color-primary) !important;
}
.details h3 {
  line-height: normal !important;
}
.item-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider-poster {
  .slide-track {
    animation: scroll linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .poster {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: 0;
  }
  .poster h3,
  .poster p {
    font-family: "Poppins-ExtraLight";
  }
  .poster .details {
    position: absolute;
    z-index: 2;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }
}

.slider-poster::before,
.slider-poster::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider-poster::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-poster::before {
  left: 0;
  top: 0;
}

@media (max-width: 600px) {
  .contact .details {
    display: flex;
    flex-direction: column;
  }
  .item-details {
    flex-direction: row;
  }
  .search-component {
    width: 7rem;
  }
  .search-component:focus {
    width: 8rem;
  }
  .nav {
    padding: 0.5rem 1rem;
  }
  .container-paragraph div {
    max-width: 90%;
  }
  .prew {
    width: 12rem;
  }
  .current {
    width: auto;
    height: 12rem;
  }
  .slide {
    /* flex-direction: column; */
    overflow-x: hidden;
    overflow-y: scroll;
    grid-auto-flow: row;
    grid-template-rows: auto;
    max-height: calc(24rem + 3rem);
    grid-gap: 1rem 0;
    /* grid-gap: 0 2rem;
  padding: 30px 60px;
  padding-right: 0; */
  }
  .description {
    justify-content: center;
    align-items: center;
  }
  .container-tech .description {
    position: relative;
    max-width: auto;
    width: auto;
  }
  .resume {
    text-align: center;
  }
  .container-tech h1 {
    text-align: center;
  }
  .support-items {
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  .list-item h4 {
    margin-bottom: 2rem;
    width: auto;
  }

  .list-item h4::before {
    content: "";

    bottom: -0.5rem;
  }
  .service-items img {
    width: 20%;
  }
  .service-items {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .poster {
    width: auto;
    height: 30rem;
  }

  .container-contact {
    grid-template-columns: 1fr;
  }
  .contact {
    gap: 3rem;
  }
  .nav {
    display: grid;
    grid-template-columns: auto 1fr 8rem;
  }
}
